
* {
  color: #1b2a49;
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.details {

  background: #fafafa;
  width: 25%;
  position: relative;
  top: -9em;
  right: -60em;
  z-index: 1;
  padding: 1em ;
  border-radius: 10px  0 0 10px ;
  color: black;

}

.commentheaders {
  font-weight: bold;
}

.commenttable {
  max-width: 75%;
}

.title {
  font-size: 4rem;
  background-color: #1b2a49;
  color: whitesmoke;
}

h1, th {
  font-family: 'Source Code Pro', monospace;
}

.comment-title {
  text-align: left;
  color: whitesmoke;
}

form {
  display: flex;
  justify-content: left;
}

.newformjumbo {
  background-color: #1b2a49;
  margin-top: 20px;
  border: 1px solid #dee2e6 ;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  margin-bottom: 30px;
}


* table {
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  /* -moz-border-radius:25px;
  -webkit-border-radius:25px; */
  /* border-radius: 25px; */
  margin-bottom: 10px;
  background-color: white;
}

.newform {
  display: inline;
  max-width: 30%;
}