

.dropdown {
border: 1px solid #dee2e6 ;
height: 8rem;
-moz-box-shadow: 10px 10px 5px #ccc;
-webkit-box-shadow: 10px 10px 5px #ccc;
box-shadow: 10px 10px 5px #ccc;
-moz-border-radius:25px;
-webkit-border-radius:25px;
border-radius:25px;
margin-bottom: 30px;
background-color: lightslategray;

}

.coldrop {
    display:flex;
    justify-content: center;
    margin-bottom: 1.88rem;
    margin-top: 3rem;
    
}
.menu-flags {
    font-weight: 100;
}

.gobutton {
    margin-left: 20px;
}